<div id="<%= dom_id item %>">
  <div>
    <strong>Name:</strong>
    <%= item.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= item.description %>
  </div>

  <!-- ✅ ADD THIS -->
  <div>
    <strong>Image:</strong><br>
    <%= image_tag(item.image.url, width: 200) if item.image? %>
  </div>
</div>